<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Blue Box</title>

		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>

	<body onload="init('../server/animations/anim.json', 'heartPulse');">
		<script id="animation_list" type="text/x-handlebars-template">
			<ul id="block-buttons">
				{{#list}}
					<li><a href={{{link path name}}}>{{display}}</a></li>
				{{/list}}
			</ul>
		</script>

		<div class="content">
			<div class="background animation-list">
			</div>
			<div class="left_block animation-list">
				<div class="content">
				</div>
			</div>

			<div class="background game-div">
			</div>
			<div class="left_block game-div">
				<canvas id="game-canvas" width="512" height="512"></canvas>
			</div>

			<div class="background text-display">
			</div>
			<div class="left_block text-display">
				<div class="content">
				</div>
			</div>
		</div>

		<!-- Library loading, this is done at the end to prevent load-blocking -->
		<script type="text/javascript" src="libraries/jquery.js"></script>
		<script type="text/javascript" src="libraries/handlebars.js"></script>
		<script type="text/javascript" src="libraries/pixi.js"></script>

		<!-- User libraries -->
		<script type="text/javascript" src="util.js"></script>

		<!-- Client rendering script -->
		<script type="text/javascript" src="client.js"></script>
	</body>
</html>
