html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
	background-color: #ADD8E6;
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
}

.background.animation-list {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 397px;
}

.animation-list {
	height: auto;
	width: 397px;
	padding-bottom: 0px;
}

.background.game-div {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 512px;
	margin-left: 397px; 
}

.game-div {
	height: 512;
	width: 512px;
	padding-bottom: 0px;
}

.background.text-display {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 424px;
	margin-left: 909px; 
}

.text-display {
	height: auto;
	width: 424px;
	padding-bottom: 0px;
}

#block-buttons li {
	list-style: none;
	text-align: center;
	background-color: #000000;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 150px;
	line-height: 60px;
}

#block-buttons li a {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
}

#block-buttons li a:hover {
	text-decoration: none;
	color: #000000;
	background-color: #33B5E5;
}

#game-canvas {
	margin-top: 15px;
}